{% extends 'base.html.twig' %}

{% block body %}
<h1>Series in {{ category.name }}</h1>

    {% if programs is empty %}
        <p>No series found.</p>
        <img src="{{ asset('build/images/sadFace.jpg') }}" alt="">
    {% else %}
        <ul>
            {% for program in programs %}
                <li>
                    <img class="align-self-start mr-3" src="/build/images/{{ program.poster }}" alt="{{ program.title }} poster">
                    <h3>Series ID: {{ program.id }}</h3>
                    <p>Title: {{ program.title }}</p>
                    <p>Summary: {{ program.synopsis }}</p>
                    <a href="{{ path('show', {'id': program.id}) }}">View File</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}